body {
    background-color: lightblue;
}

header {
    background-color: blueviolet;
    color: lightcyan;
}

.info {
    display: flex;
    flex-direction:column;
}

h2 {
    background-color: rgb(27, 27, 193);
    color: coral;
}

img {
    width: 700px;
    height: auto;
}

h3 {
    background-color: rgb(2, 2, 103);
    color: lightcoral;
}