body {
    background-color: lightblue;
}

header {
    background-color: blueviolet;
    color: lightcyan;
}

.info {
    display: flex;
    flex-direction: column;
    width: 800px;
    align-items: center;
    margin-left: auto;
    margin-right:auto;
}

h2 {
    background-color: rgb(27, 27, 193);
    color: coral;
    width: 800px;
}

img {
    width: 700px;
    height: auto;
}

h3 {
    background-color: rgb(2, 2, 103);
    color: lightcoral;
    width: 800px;
}