body {
    background-color: lightblue;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
    color: lightcyan;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    width: 800px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid darkblue;
    border-radius: 10px;
}

h2 {
    display: flex;
    justify-content: center;
    background-color: rgb(27, 27, 193);
    color: coral;
    width: 750px;
    padding-top: 2px;
    padding-bottom: 2px;
}

img {
    width: 700px;
    height: auto;
}

h3 {
    display: flex;
    justify-content: center;
    background-color: rgb(2, 2, 103);
    color: lightcoral;
    width: 750px;
    padding-top: 2px;
    padding-bottom: 2px;
}